header {
  padding: 20px 0;
  .logo-container {
    a {
      font-family: $raleway;
      color: $main_blue;
      font-size: 40px;
      text-decoration: none;
      position: relative;
      &::after {
        content: " ";
        position: absolute;
        width: 50%;
        height: 8px;
        background-color: $red;
        bottom: -10px;
        left: 0;
        border-radius: 10px;
      }
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    a {
      color: $main_blue;
      margin-left: 20px;
      &:hover {
        color: $red;
      }
    }
  }
}
