header {
  padding: 20px 0;
  .logo-container {
    a {
      font-family: $raleway;
      color: $main_blue;
      font-size: 40px;
      text-decoration: none;
      position: relative;
      &::after {
        content: " ";
        position: absolute;
        width: 50%;
        height: 8px;
        background-color: $red;
        bottom: -10px;
        left: 0;
        border-radius: 10px;
      }
    }

    &:hover {
      a::after {
        animation: extend 0.5s ease-in-out forwards;
      }
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    ul {
      list-style-type: none;
      display: flex;
      a {
        color: $main_blue;
        margin-left: 20px;
        &:hover {
          color: $red;
        }
      }
    }
  }
}

@keyframes extend {
  0% {
    width: 50%;
  }
  30% {
    width: 100%;
  }
  50% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  header {
    .logo-container {
      a {
        font-size: 30px;
      }
    }
  }
}
