.single-post {
  .hero {
    margin: 50px 0 20px;

    .categories-container {
      margin-bottom: 10px;
    }
    .main-headline {
      margin: 0;
    }
  }

  &__category-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.8px;
    padding: 0 5px;
    border-right: 2px solid $red;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      border: none;
    }
  }

  .featured-image-section {
    height: 400px;
    width: 100%;
    background-size: cover;
    margin-bottom: 30px;
  }

  .content {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 35px;
    }

    h3 {
      font-size: 30px;
    }

    p,
    h1,
    h2,
    h3 {
      margin-bottom: 20px;
      line-height: 1.1;
    }
  }
}

@media screen and (max-width: 500px) {
  .bottom-nav {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
