@import "./theme-variables.scss";

@import "./components/general-styles";
@import "./components/buttons.scss";
@import "./components/slider.scss";

@import "./components/header.scss";
@import "./components/front-page.scss";

@import "./components/single-post.scss";
@import "./components/index.scss";
